  <div class="container">
    <h3>Welcome to your FitLife page!</h3>
     <img src="/images/girl.jpg" alt="strong" style="width:200px;border:0;">
     <button><a href="https://fitlife7.herokuapp.com/"><h1>Click to add exercises to your journal</h1></a></button>
     <br>
     <h>upload profile image</h>
  </div><br><br>

  <div class="container">
    <h3>Check out our amazing programs!</h3>
  </div><br><br><br>
  
  <div class='container programs'>
                 <div class="row">
                   <div calss="col-md-12">
                     
                   <a href="strength">
                   <img src="/images/strong.jpg" alt="strong" style="width:250px;border:0;">
                  </a>
                    
                   <a href="form">
                   <img src="/images/trainer.jpg" alt="strong" style="width:250px;border:0;">
                  </a>
               
                   <a href="yoga">
                   <img src="/images/yoga.jpg" alt="strong" style="width:250px;border:0;">
                  </a>
                 </div>
                 </div>
                 </div>
   