<br><br>

 
              <div class="container">
                <div class='row'>
                  <div class='col-md-3'>
                      <img src="/images/download.png" alt="insert pic">
                  </div>
                  <div class='col-md-3'>
                     
                      
        
                  </div>
                </div>
              </div><br><br>
        
              <div class='container'>
                <div class="row">
                  <div class='col-md-12'>
                    <h3>Check out our free workout program!</h3>
                      <a href="#" class="btn btn-info" role="button">Create-a-workout</a><br><br>
                      <a href="strength" class="btn btn-info" role="button">Strength Program</a><br><br>
                      <a href="yoga" class="btn btn-info" role="button">Yoga Program</a><br><br>
                      <a href="form" class="btn btn-info" role="button">Take a quiz to find a trainer</a>
                      
                  </div>
                </div>
              </div>

              