<br><br>

 
              <div class="container">
                <div class='row'>
                  <div class='col-md-3'>
                      <img src="/images/download.png" class="upload" alt="insert pic">
                  </div>
                  <div class='col-md-3'>
                     
                      
        
                  </div>
                </div>
              </div><br><br>
        
              <div class='container'>
                <div class="row">
                  <div class='col-md-12'>
                    <h3>Check out our free workout program!</h3>
                      <a href="#" class="btn btn-info" role="button">Create-a-workout</a><br><br>
                      <a href="strength" class="btn btn-info" role="button">Strength Program</a><br><br>
                      <a href="yoga" class="btn btn-info" role="button">Yoga Program</a><br><br>
                      <a href="form" class="btn btn-info" role="button">Take a quiz to find a trainer</a>
                      
                  </div>
                </div>
              </div>

               <div class="container">
        <div class="row">
          
          <div class="col">
            
            <div class="panel-heading comments"><h1>Find a gym near you</h1></div>
            <div id="map">
  
            </div>
  
          </div>
          <div class="col">
            <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">