<div class="jumbotron text-center">
        <h1 class="img-responsive"><img src="../images/logo.png"  alt="Girl in a jacket"  style="width:700px;"></h1>
        <p>Your one stop shop for fitness</p>
        
      </div>

<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" style="width: 55%;" placeholder="Username">
  
    <label>Password</label>
    <input type="password" class="form-control" name="password" style="width: 55%;" placeholder="Password"><br>
  
  <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
<br><br><br><br>

      <div class="container-fluid">
          <h2>Why join FitLife! Watch video below</h2>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qWy_aOlB45Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br>

        <br><br>
          <section class="features_table">
              <div class="container ">
                <div class="col-sm-8 col-8 col-xs-12 no-padding">
                    <div class="features-table">
                        <ul>
                            <h1>Who choose us?</h1>
                            <li>Completly free</li>
                              <li>Access to personal trainers</li>
                              <li>Amazing programs</li>
                              <li>Easy to use forms</li>
                              
                        </ul>
                      </div>
                  </div>
                  <div class="col-sm-2 col-2 col-xs-12 no-padding">
                  <div class="features-table-free">
                        <ul>
                            <h1>US!</h1>
                              <li><i class="fa fa-check"></i></li>
                              <li><i class="fa fa-check"></i></li>
                              <li><i class="fa fa-check"></i></li>
                              <li><i class="fa fa-check"></i></li>
                         </ul>
                      </div>
                  
                  </div>
                   <div class="col-sm-2 col-2 col-xs-12 no-padding">
                      <div class="features-table-paid">
                        <ul>
                            <h1>THEM!</h1>
                              <li><i class="fa fa-times"></i></li>
                              <li><i class="fa fa-check"></i></li>
                              <li><i class="fa fa-times"></i></li>
                              <li><i class="fa fa-times"></i></li>
                             
                             </ul>
                      </div>
                   </div>
              </div>
          
          </section> <br><br>   
          </div>
          
         

          
         
