

<h4 class="page-header">Register</h4>
{{#if user}}
        <div class="alert alert-danger">Username has taken already try new</div> 
{{/if}}
{{#if mail}}
        <div class="alert alert-danger">Email has taken already try new</div> 
{{/if}} 
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}



  <h2>Don't hesitate join today!</h2>
  <h3>We have 5 stars so you will for sure go far</h3>
          <img src="/images/star.png" class="up" alt="insert pic" style="margin-left: 280px;"><br><br><br><br>


<form method="post" action="/users/register">
   <div class="form-group reg">
    <label>Name</label>
    <input type="text" class="form-control color" placeholder="Name" name="name">
 
  
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  
  
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
 
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2"><br>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
  
</form>

