body {
    background-image: url(../images/down.jpg);
    background-repeat:no-repeat;
  
    background-size:cover;
}


.jumbotron{
    background-color: transparent!important;
   margin-top: -6%;
   width: 50%;
   margin-left: 14%;
   
   
}

.questions{
    background-image: url(../images/colors.jpg);
    background-repeat:no-repeat;
   
    background-size:cover;
}

h4{
    font-size: 40px;
    text-align: center;
    margin-top: -9%;
    font-family: 'Patua One', cursive;
    color: green;
}

.programs{
   text-align: center;
}

.pat{
    margin-left: 42%;
}


.form-group{
    margin-left: 33%;
    margin-top: -2%;
    width:600px;
    color: blue;
    font-size: 20px;}
       
.upload{
    width: 75%;
}

li{
    font-family: 'Patua One', cursive;
    color: black;
    font-size: 20px;

}

.myBtn{
    color: green;
    margin-left: 30%;
}
    

.reg{
    background-image: url(../images/colors.jpg);
    background-repeat:no-repeat;
   
    background-size:cover;
    margin-left: 22%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
}

iframe{
    margin-left: 25%;
    margin-top: 3%;
}

h2{
    text-align: center;
    margin-top: 2%;
    font-family: 'Patua One', cursive;
    color: green;
}

p {
    font-family: 'Patua One', cursive;
    color: green;
    text-align: center;
    margin-left: 35%;
}

h3{
    font-family: 'Patua One', cursive;
    color: green;
    text-align: center;
}


.col-md-offset-3{
    margin-top: -7%;

    
}

.features_table h1{
    font-size:25px !important;
	
}
li{
    list-style:none;
    }
h1{
     font-size:21px !important;
    }    
.features-table li {
    background: #3b18b9 none repeat scroll 0 0;
    border-bottom: 2px solid white;
    color: #f1f1f1;
    font-size: 16px;
    padding: 15px 24px;
    text-align: center;
}
.features-table li:hover{
	background:  #3b18b9;
	cursor:pointer;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.features-table-free li, .features-table-paid li {
    background: #efefef none repeat scroll 0 0;
    border-bottom: 2px solid #d4d4d4;
	text-align:center;
    padding: 16.4px 21px;
	cursor:pointer;
}
.features-table-free h1, .features-table-paid h1 {
    text-align: center;
}
.features-table-free li:hover, .features-table-paid li:hover {
    background: #dedede none repeat scroll 0 0;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.features_table h1 {
    font-size: 23px !important;
}
.features-table h1, .features-table-free h1, .features-table-paid h1 {
    background: green none repeat scroll 0 0;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 19px 21px;
    text-transform: uppercase;
}
.features-table h1 {
    border-top-left-radius: 20px;
	text-align:center;
}
.features-table-paid h1 {
    border-top-right-radius: 20px;
}
.features-table-free li {
    border-right: 2px solid #d4d4d4;
}

.btn-info{
    margin-left: 42%;
}

.video{
    margin-left: 32%;
}

.fa.fa-check {
    color: #2cc14f;
}
.fa.fa-times {
    color: #BA5340;
}
.fa{
	font-size:30px;
}
.no-padding{
	padding:0;
}
ul{
	padding:0;
}

body {
  counter-reset: section;                   /* Set the section counter to 0 */
}
.features-table li::before {
  counter-increment: section;               /* Increment the section counter*/
  content: "" counter(section) ": "; /* Display the counter */
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.up{
    
    width:50%;

}



